/* Fondo general */
.dashboard-user {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
}

/* Card principal que contiene todo */
.dashboard-card {
  display: flex;
  width: 100%;
  background-color: #000000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

/* Panel lateral (menú) */
.menu-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 20px;
  border-right: 1px solid #a0b7c6;
}

.menu-panel ul {
  list-style: none;
  padding: 0;
}

.menu-item {
  text-align: left;
  padding: 12px 10px;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease;
  border-left: transparent;
}

.menu-item .menu-icon {
  margin-right: 10px;
}

.menu-item:hover,
.menu-item.active {
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  border-left: 1px solid #000;
  font-weight: bold;
}

.user-panel{
  width: 100%;
  height: 100vh;
}
